/*
  * Table of contents
  - Editor Page
  - Text Area
  - Preview Area
*/

.editor-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--txt-primary);
}
.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  transition: none;
}