/*
  * table of contents
  - Root
  - App
  - Header
  - About
  - Skills
*/

:root {
  --txt-primary: #dddddd;
  --txt-secondary: #aaaaaa;
  --txt-dark-1: #212121;
  --txt-dark-1-50: #21212177;
  --txt-dark-2: #414141;
  --txt-dark-2-50: #41414177;
  --bg-primary: #121212;
}
.App {
  text-align: center;
}
/*
  * Header
  [v] Ter altura definida
  [v] Ter os campos do site
  [v] Texto na direita
  [V] Itens na esquerda
  [v] Trocar de cor conforme o scroll
  [ ] Se a WIDTH for menor que 700 => ter botão pra clicar e abrir o menu
*/
.app-header-wrapper {
  width: 100%;
  height: 75px;
  /* color: var(--txt-primary); */
  position: fixed;
}
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
.app-header button {
  background-color: transparent;
  border-radius: 0.3rem;
  height: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 1rem;
}
.app-header button:hover {
  color: var(--txt-secondary);
  cursor: pointer;
}

/*
  * Home page
  [v] Ocupar 100% da tela
  [v] Fonte branca
  [v] texto cinza claro
  [v] botao
  [v] funcao dos icones
  [v] Funcao do botao 
*/

.app-home-wrapper {
  height: 100vh;
  background-image: url("./editable-content/Images/business.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-home {
  background-color: #00000088;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--txt-primary);
}
.app-home h1 {
  font-weight: 300;
  margin: 0 0 30px 0;
  font-size: 6rem;
}
.app-home h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--txt-secondary);
}
.app-home button {
  color: var(--txt-primary);
  background-color: transparent;
  border: 0.1rem solid var(--txt-primary);
  height: 5rem;
  width: 15rem;
  border-radius: 1rem;
  font-size: 1.1rem;
}
.app-home button:hover {
  color: var(--txt-secondary);
  border: 0.1rem solid var(--txt-secondary);
}
.app-home-social-media {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

/*
  * About page
  [v] Ocupy 100% height of the screen
  [v] Picture on the side
  [v] Title and text on the other
    [v] Title
    [v] Text
  [v] Have the picture from LinkedIn
*/

.app-about-wrapper {
  height: 100vh;
  background-color: #acacac;
  display: flex;
  justify-content: center;
  align-self: center;
}
.app-about {
  display: flex;
  flex-direction: row;
}

.app-about-img-wrapper {
  margin: auto 50px auto 50px;
}
.app-about-img {
  height: 320px;
  width: 320px;
}
.app-about-img img {
  border-radius: 50%;
  height: 320px;
  width: auto;
}
.app-about-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 2rem 3rem 2rem 3rem;
}
.app-about-texts h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: var(--txt-dark-1);
}
.app-about-texts p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
  word-spacing: 2px;
  color: var(--txt-dark-1);
  text-align: justify;
  margin-bottom: 2rem;
}
.app-about-texts a {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--txt-dark-1);
  text-decoration: none;
  padding: 10px;
  border: 1px solid var(--txt-dark-1);
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2rem;
}
.app-about a:hover {
  color: var(--txt-dark-2);
  border: 1px solid var(--txt-dark-2);
  text-decoration: underline;
}
/*
* Skills
[v] Ocuppy 100% of the screen
[v] have two buttons
[v] Border changes on click
[ ] Skill - contains 3 things
  [ ] Title
  [ ] Progress total
  [ ] Progress - width on JS
*/
.app-skills-wrapper {
  padding-top: 80px;
  height: 100vh;
}
.app-skills nav {
  margin-bottom: 2rem;
}
.app-skills button {
  color: var(--txt-dark-1);
  background-color: transparent;
  padding: 0.5rem;
  width: 40vw;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
}
.app-skills button:hover {
  color: var(--txt-dark-2);
  border: 1px solid var(--txt-dark-2-50);
}
.app-skill-progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.app-skill-progress-wrapper {
  width: 40vw;
  height: 5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.5rem;
  /* background-color: #ff0000; */
  text-align: left;
}
.app-skill-progress p {
  font-weight: 300;
}
.app-skill-bar {
  height: 30px;
  border-radius: 10px;
  background-color: var(--txt-secondary);
}
@keyframes expandWidth {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.app-skill-bar-progress {
  transform-origin: left;
  border-radius: 10px;
  height: 30px;
  animation: expandWidth 0.7s linear;
}
