.App {
  text-align: center;
}

/*
  * Header
  [ ] Ter altura definida
  [ ] Ter os campos do site
  [ ] 
  [ ] Trocar de cor conforme o scroll
  [ ] Se a WIDTH for menor que 700 => ter botão pra clicar e abrir o menu
*/
.app-header-wrapper {
  width: 100%;
  
}
.app-header {
  /* 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  */
}

.app-link {
  color: #61dafb;
}
